
.foodName {
    text-align: center;    
}

.size {   
    margin: 10px;
    padding: .4rem;
}

.details {
    background-color: #ffd95e;
    margin-top: 8px;
    padding: .4rem;
    border-radius: .5rem;
    height: 17rem;
    overflow: auto;
}

.delete-button {
    float: right;
}

.cardFooter {
    float: right;
    color: #ff7b00;
}

.recipePopupBtn {
    text-align: center;
}

.helfulLinkTitle {
    text-align: center;
    color: #352618;
    margin-top: 10px;
}

.video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
  }
  
  .video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }
