
.foodName {
    color: #ff7b00;
    justify-content: center;
    margin-top: 4rem;

    
}

.details {
    background-color: #ffc400;
    padding: .4rem;
    border-radius: .5rem;
}

.delete-button {
    float: right;
}

.cardFooter {
    float: right;
}

.habeshaFoodForm {
    margin-top: 23px;
    margin-left: 15px;
    margin-right: 23px;
    background-color: rgba(255, 255, 0, 0.47);
}
