
.foodName {
    color: #ff7b00;
}

.nutritionFacts {
    background-color: #ffd95e;
    margin: 2rem 8rem;
    padding: .4rem;
    border-radius: .5rem;
    text-align: center;
    height: 17rem;
    overflow: auto;
}

.details-edit-button, .details-delete-button {
    margin-right: 10px;
}